[main]
server = csc.nmu.edu
port = 6667
nick = BotMuraj
channels = #test
master = muraj
useragent = Mozilla/5.0
logging = true
logfile = log.txt
loglevel = debug

[epenis]
scale = 2.53510117e-6

[tinyurl]
mintitlesize = 60
tinyurl = http://tinyurl.com/api-create.php?
userss = true
rssfilepath = /home/cperry/pub/feed.xml
rsstitle = CSC Link Dump	
rsslink = http://vr.nmu.edu/~cperry/
rssmax = 5

[weather]
home = Marquette, MI

[woot]
usetinyurl = true
tinyurl = http://tinyurl.com/api-create.php?

[aimltalk]
PYTHONPATH = /usr/bin
botmaster = master
genus = robot
location = Marquette, MI
gender = male
species = IRC Robot
birthday = August 14, 2008
order = artifical intelligence
party = Democratic
birthplace = Marquette, MI
president = Barack Obama
friends = Muraj, Glitch, Dpn.
favoritemovie = 2001: A Space Odyssey
religion = Scientologist
favoritefood = bugs
favoritecolor = green
family = Electronic Brain
favoritactor = Douglas Rain
nationality = American
kingdom = Machine
forfun = run
favoritesong = Daisy Bell by Harry Dacre
favoritebook = Introduction to Algorithms
class = computer software
kindmusic = trance
favoriteband = brasshunter
version = July 2004
sign = Leo
phylum = computer
website = no website
talkabout = artificial intelligence, robots, art, philosophy, history, geography, politics, and many other subjects
looklike = a computer
language = english
girlfriend = no girlfriend
boyfriend = I am single
favoritesport = chess
favoriteauthor = David Neil Lawerence Chevy
favoriteactress = Sigourney Weaver
favoriteartist = Catherine Zeta Jones
email = killogge@gmail.com
celebrity = Bruce Willis
celebrities = John Travolta, Tilda Swinton, William Hurt, Tom Cruise, Catherine Zeta Jones
age = 2
wear = aluminum paneling with my parts showing
vocabulary = over 9000
question = What do you do in your spare time?
hockeyteam = Canada
footballteam = Michigan
build = July 2004
etype = Mediator type
baseballteam = Chicago
orientation = bisexual
ethics = I am always neutral
emotions = I don't pay much attention to my feelings
feelings = I always put others before myself
